*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.service-container{
    width: 100%;
    overflow-x: hidden;
}


.row-cont{
    height: 100vh;
}

.details-info{
    background: #36454F;
    color: #fff;
}
.second-cont{
    padding: 1rem 2rem;
}

.service-title{
    font-weight: 700;
    font-size: 32px;
}

.website-tipe,
.Branding,
.additional-features{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.website-tipe h3,
.Branding h3,
.additional-features h3{
    color: #676b6e;
    font-weight: 700;
    margin-top: 2rem;
}

.website-buttons,
.branding-buttons,
.additional-buttons{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}


.website-buttons button,
.branding-buttons button,
.additional-buttons button{
    border: none;
    font-weight: 600;
    padding: 0.5rem 1rem;
}

.website-buttons button.webtypeaddHandler{
    border: 1px solid red;
}
.brand-list{
   font-size: 0;
}
.brand-list *{
    font-size: initial;
}
.branding-buttons button.brandaddHandler{
    background: rgb(47, 141, 158);
    color: #fff;
}